html {
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 50px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px 100px;
  width: 100%;
}

.app > div {
  width: 550px;
  min-height: 775.5px;
  border: 3px solid black;
  padding: 30px;
  place-self: center;
}

.app > button {
  grid-row: 2/3;
  grid-column: 1/3;
  place-self: center;
  background-color: #2563eb;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.inputs {
  display: grid;
}

.only {
  grid-column: 1/3;
}
.hidden {
  display: none;
}
