.display {
  width: 550px;
  padding: 30px;
  display: grid;
  grid-template-rows: 100px minmax(200px, 1fr) minmax(200px, 1fr);
}

.general-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.name-display {
  font-weight: 700;
  font-size: 30px;
}
h2 {
  border-bottom: solid 2px black;
}
.education-display {
  align-self: start;
}

.education-display-instance {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px;
  align-content: center;
  align-items: center;
  gap: 15px;
}
.school-name {
  font-weight: 700;
  font-size: 22px;
}
.education-display-instance > .finish-date {
  font-weight: 700;
}

.education-display-instance {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.company,
.position {
  font-weight: 700;
  font-size: 22px;
}

.work-display-instance {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 30px 1fr;
  gap: 5px;
}
.job-description {
  white-space: pre-line;
  grid-row: 3/4;
  grid-column: 1/3;
}
